body {
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
}

.box-form {
  background: #FFFFFF;
  display: flex;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-items: center;
  }
  .box-form .right {
    width: 100%;
  }
}

.box-form .left {
  color: #FFFFFF;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/src/assets/group_share.jpeg");
  overflow: hidden;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  // background: #5961f9ad;
  background: rgba(89, 97, 249, 0.3784313725);
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background: #3b5998;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .right {
  width: 450px;
  padding: 40px;
  border: 8px solid rgba(89, 97, 249, 0.6784313725);
  margin: 20px;
  border-radius: 10px;
  background: rgba(89, 97, 249, 0.111313725)
}





