.contentRoot {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.justifyEnd {
  justify-content: end !important;
}

.read-the-docs {
  color: #888;
}

.calculator {
  background: #fff;
  padding: 20px;
  border-radius: 0 10px 10px 0;
}

.data-grid {
  background-color: #fff;
  border-radius: 10px 0 0 10px !important;
  padding: 20px;
  width: 1180px;
  margin: 0 auto;
}

.mt1 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 24px;
}
.mr5 {
  margin-right: 5px !important;
  width: 70px !important;
}

.btn {
  color: #fff;
  margin-bottom: 2rem;
}

.billing-month {
  font-size: 20px;
  width: 60px;
  text-align: center;
  border: 5px solid #c4cfff;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  margin-right: 5px;
}

div.css-qvtrhg-MuiDataGrid-virtualScroller {
  min-height: 100px;
}

.plus-sign {
  font-size: 24px !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

.register.MuiButtonBase-root,
.btn {
  /* background: linear-gradient(to right, #2193b0, #6dd5ed); */
  background: rgba(89, 97, 249, 0.6784313725);
  font-weight: bold;
}

.headerBackground {
  background-color: rgba(255, 255, 224, 0.55);
}
.disabledColor {
  color: #aaa;
}

.recharts-responsive-container {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
